body {
  height: 100vh;
  background:orchid;
  margin: 0;
  text-align: center;
  font-family:'Courier New';
  border: 10px dotted rgb(255, 0, 153);
}

html {
  font-size: 16px;
  box-sizing: border-box;
}
.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.container {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}
.button-option {
  background: #ffffff;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 8px;
  font-size: 12vmin;
  color: #d161ff;
}
